body {
    background-color: azure;
    font-family: Georgia, serif;
    background-image: url("../../../media/background.jpg");
    background-repeat: no-repeat;
}
.center-container {
    text-align: center;
    padding: 50px 250px;
    background-color: beige;
    box-shadow: 7px 7px 10px rgba(199,199,199,0.96) ;
    opacity: 85%;
}
.center-container>h1 {
    margin-bottom: 50px ;
}
.form-container {
    text-align: left;
}
.main-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.alert-container {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 10vh;
    justify-content: center;
    align-items: center;
    padding: 0 21vw;
    text-align: center;
}
.asking-container {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}
.content-container  {
    display: flex;
    flex-direction: column;
    width: 65%;
}