{% extends 'users/base.html' %}
{% block content %}
    <div class="center-container">
        <h1>Rejestracja</h1>
        <div class="form-group form-container">
            <div>
                <form class="form-group" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary mb-3" type="submit">Zarejestruj</button>
                </form>
                <div class="asking-container"><p>Masz już konto?&nbsp</p> <a href="{% url 'login' %}">Zaloguj
                    się!</a></div>
            </div>
        </div>

    </div>
{% endblock %}